doctype
html(lang="ru")
  head
    include ../_components/_service.jade
    // ⚠️ SEO ⚠️
    title Купить цементную стяжку в Калининграде
    meta(name="description" content="Купить смесь для стяжки пола в виде полуготовой (сухой) смеси в Калининграде. Производства KLESTER System (Клестер Систем).")
    meta(name="keywords" content="цементная стяжка, смесь для стяжки, стяжка пола, цементно песчаная смесь, ЦПС, стоимость, калининград, производитель, klester, ")
    meta(name="robots" content="all")
    link(rel="canonical" href="http://klester39.ru/zm-20/")
    include ../_path/_css.jade
    include ../_components/_web-master.jade
    include ../_path/_favicon.jade
    // ⚠️ OPEN GRAPH ⚠️
    meta(property="og:title" content="Купить сухие смеси KLESTER System")
    meta(property="og:description" content="Купить сухую смесь (полуготовую), клей для пенополистирола, клей для каменной ваты, клей для керамической плитки, кладочную смесь, цемент в Калининграде.")
    meta(property="og:image" content="../img/logo.svg")
    meta(property="og:type" content="website")
    meta(property="og:url" content="http://klester39.ru/")
    include ../_components/_author.jade

  body.hyphenate#body
    .outdated
    .container-fluid.header
      header.container#top
        .row
          .col-xs-12
            h1.sr-only Купить цементную стяжку в Калининграде
            include ../_path/_top-flex-menu.jade
            include ../_components/_address.jade
    section.container
      .row
        .col-xs-12
          h2 Цементная стяжка ZM-20
        .col-xs-12.col-sm-8
          .tab
            nav
              h3.sr-only Навигация по содержимому
              ul.tab__list
                li.tab__list-item Назначение
                li.tab__list-item Технические характеристики
                li.tab__list-item Видео

            .tab__container
              .tab__item-block
                p.tab__item-description Полуготовая смесь для стяжки пола ZM-20 от производителя сухих строительных смесей — KLESTER System, Калининград. Водостойкая. Морозостойкая. Отличается высокой устойчивостью к нагрузкам. Для наружных и внутренних работ. Минимальная толщина стяжки 25 мм.
                p.tab__item-description Ровнитель предназначен для выполнения напольных оснований и полов, внутри и снаружи зданий, на террасах и балконах, а также подходит в качестве основы для полов с подогревом. Раствор используется для технологии изготовления полов на слое паро- и гидроизоляции, а также на термоизоляции и акустической изоляции. Подходит для укладки на все цементные основания. В случаях необходимости применяется армирование.
                p.tab__item-description В начальный период затвердевания стяжки (т.е. через 7-10 дней), необходимо увлажнять основание водой и защищать от преждевременного высыхания. Для стяжек с подогревом пола, допустимо плавное включение обогрева не ранее, чем через 4-5 недель после окончания укладки. Неправильный уход влияет на снижение итоговых параметров стяжки.
                p.tab__item-description Расход цементной стяжки около 20 кг/м² на 1 см толщины слоя раствора. Объёмная плотность около 1.7 г/см³.
                p.tab__item-description Полуготовый раствор для стяжки пола ZM-20 — аналог цементно-песчаной смеси М200, но с добавлением модифицирующих добавок.
                p.tab__item-description На сайте компании вы можете купить ZM-20 для стяжки пола оптом и в розницу, без посредников, и по самой низкой цене. Мы ручаемся за качество!
                p.tab__item-description Стоимость указана за упаковку 25 кг.
                img.img-responsive(src="../img/how-to-order.png" alt="Как сделать заказ?")
                p.tab__item-description 
                  strong Важно знать:
                  |  Закажите товар через чат → Оплатите счёт → Получите заказ.
                p
                  a.top-nav__item.top-nav__item_btn(href="#chat" onclick="jivo_api.open();") Сделать заказ
                h4.tab__item-description Вопросы и ответы
                p.tab__item-description
                  strong Что такое Антгидридная стяжка?
                p.tab__item-description Правильное название, ангидридная стяжка — стяжка, на основе обезвоженного гипса, полученного путём обжига природного гипса.
                p.tab__item-description
                  strong ZM-20 под все ли виды тёплых полов можно использовать или нет?
                p.tab__item-description ZM-20 можно использовать под все виды тёплых полов.
                table.material-table
                  tr.material-table__row
                    td.material-table__cell 25 мм
                    td.material-table__cell пол, связанный с основанием
                  tr.material-table__row
                    td.material-table__cell 35 мм
                    td.material-table__cell пол на разделяющем слое
                  tr.material-table__row
                    td.material-table__cell 40 мм
                    td.material-table__cell плавающий пол на слое изоляции с низкой степенью сжатия
                  tr.material-table__row
                    td.material-table__cell 45 мм
                    td.material-table__cell плавающий не армированный пол со степенью сжатия изоляционного слоя > 12 мм
                  tr.material-table__row
                    td.material-table__cell 45 мм + наружный диаметр теплоэлементов
                    td.material-table__cell в системе пола с подогревом
              .tab__item-block
                table.material-table
                  tr.material-table__row
                    td.material-table__cell Состав:
                    td.material-table__cell портландцемент, минеральные наполнители, модифицирующие добавки
                  tr.material-table__row
                    td.material-table__cell Объёмная плотность:
                    td.material-table__cell &asymp;1,70 г/см
                      sup 3
                  tr.material-table__row
                    td.material-table__cell Прочность на сжатие после 28 суток:
                    td.material-table__cell 20 МПа
                  tr.material-table__row
                    td.material-table__cell Коэффициент теплопроводимости λ:
                    td.material-table__cell &lt;1,17 Вт/м&times;K
                  tr.material-table__row
                    td.material-table__cell Толщина слоя:
                    td.material-table__cell 25-80 мм
                  tr.material-table__row
                    td.material-table__cell Хождение по полу:
                    td.material-table__cell после 48 часов
                  tr.material-table__row
                    td.material-table__cell Упаковка:
                    td.material-table__cell 25 кг
                  tr.material-table__row
                    td.material-table__cell Хранение:
                    td.material-table__cell 12 месяцев
                p.tab__item-description 
                  strong Минерально связующие наполнители и добавки. Для чего они предназначены? Какую функцию выполняют? На что влияют?
                p.tab__item-description Модифицирующие добавки подразделяют на 4 класса.
                p.tab__item-description К добавкам 1 класса относят регуляторы реологических свойств, позволяющие снизить водоотделение, повысить прочность, непроницаемость, морозостойкость, повысить водоудерживающую способность.
                p.tab__item-description Добавки 2 класса — регуляторы сроков схватывания и твердения. Они делятся на: ускорители схватывания-твердения (алюминат натрия, фторид натрия, карбонат калия, хлорид кальция и другие) и замедлители схватывания (фосфаты, сахара, декстрин, соли лимонной и винной кислот, дигидросульфат калия).
                p.tab__item-description Добавки 3 класса — регуляторы структуры, которые позволяют повысить стойкость в агрессивных средах и снизить среднюю плотность. Примерами таких добавок могут служить ионогенные и неионогенные поверхностно-активные вещества, лаурилсульфат натрия, алкенсульфаты натрия и др.
                p.tab__item-description Добавки 4 класса используются для тех смесей, к которым предъявляются особые, функциональные требования по условиям применения или эксплуатации.
              .tab__item-block
                .embed-responsive.embed-responsive-16by9
                  iframe.embed-responsive-item(width="560" height="315" src="https://www.youtube.com/embed/vg_84634BGY?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen)

        .col-xs-12.col-sm-4
          img.img-responsive(src="../img/catalog/zm-20.jpg" alt="Цементная стяжка ZM-20 «KLESTER System»")
          p.catalog__price 139 руб.
        .col-xs-12.item-properties__grid
          .item-properties__item.-temperature
            p.item-properties__title Температура применения:
            p.item-properties__description от +5&deg;C до +25&deg;C
          .item-properties__item.-time-expluatation
            p.item-properties__title Время пригодности:
            p.item-properties__description 2 часа
          .item-properties__item.-metter
            p.item-properties__title Расход:
            p.item-properties__description около 20 кг/м² на 1 см толщины слоя раствора
          .item-properties__item.-proportion
            p.item-properties__title Пропорции смешивания:
            p.item-properties__description 3,0&ndash;3,5 л на 25 кг сухой смеси

    include ../_path/_footer.jade

    include ../_path/_script.jade
    script(src="../js/jquery-3.2.1.min.js")
    script(src="../js/Hyphenator.js")
    script(src="../js/outdatedbrowser.min.js")
    script(src="../js/custom.js")
    //- script.
    //-   var frm = frames['frame'].window;
    //-   var otherhead = frm.getElementsByTagName("head")[0];
    //-   var link = frm.createElement("link");
    //-   link.setAttribute("rel", "stylesheet");
    //-   link.setAttribute("type", "text/css");
    //-   link.setAttribute("href", "/css/main.css");
    //-   otherhead.appendChild(link);
    script.
      Hyphenator.run();
      //call plugin function after DOM ready
      //- addLoadEvent(function(){
      //-   outdatedBrowser({
      //-     bgColor: '#f25648',
      //-     color: '#ffffff',
      //-     lowerThan: 'transform',
      //-     languagePath: '../js/lang/ru.html'
      //-   })
      //- });
    include ../_components/_metric.jade