doctype
html(lang="ru")
  head
    include _components/_service.jade
    // ⚠️ SEO ⚠️
    title Купить сухие смеси в Калининграде
    meta(name="description" content="Купить сухую смесь (полуготовую), клей для пенополистирола, клей для каменной ваты, клей для керамической плитки, кладочную смесь, цемент в Калининграде.")
    meta(name="keywords" content="сухая смесь, полу-готовая смесь, портладнцемент, клей для пенополистирола, клей для каменной ваты, клей для керамической плитки, кладочная смесь, цемент, цена, стоимость, калининград, производитель, klester, ")
    meta(name="robots" content="all")
    link(rel="canonical" href="http://klester39.ru/")
    include _path/_css.jade
    include _components/_web-master.jade
    include _path/_favicon.jade
    // ⚠️ OPEN GRAPH ⚠️
    meta(property="og:title" content="Купить сухие смеси KLESTER System")
    meta(property="og:description" content="Купить сухую смесь (полуготовую), клей для пенополистирола, клей для каменной ваты, клей для керамической плитки, кладочную смесь, цемент в Калининграде.")
    meta(property="og:image" content="img/logo.svg")
    meta(property="og:type" content="website")
    meta(property="og:url" content="http://klester39.ru/")
    include _components/_author.jade

  body.hyphenate#body
    .outdated
    .container-fluid.header
      header.container#top
        .row
          .col-xs-12
            h1.sr-only Купить сухие смеси в Калининграде
            include _path/_top-flex-menu.jade
            include _components/_address.jade
    section.container
      .row
        .col-xs-12
          h2.donthyphenate Каталог
        include _components/_catalog.jade
    section.container-fluid.features-bg
      .container
        .row
          include _components/_features.jade
    section.container
      .row
        .col-xs-12
          img.img-responsive(src="img/klester.jpg" alt="KLESTER System")
        //- .col-xs-12
          //- .embed-responsive.embed-responsive-16by9
            //- iframe.embed-responsive-item(width="560" height="315" src="https://www.youtube.com/embed/vg_84634BGY" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen)
    section.container
      .row
        include _components/_how-to-order.jade

    include _path/_footer.jade

    include _path/_script.jade
    script(src="js/jquery-3.2.1.slim.min.js")
    script(src="js/Hyphenator.js")
    script(src="js/outdatedbrowser.min.js")
    script(src="js/mixitup.min.js")
    script(src="js/custom.js")
    script.
      //- var frm = frames['frame'].window;
      //- var otherhead = frm.getElementsByTagName("head")[0];
      //- var link = frm.createElement("link");
      //- link.setAttribute("rel", "stylesheet");
      //- link.setAttribute("type", "text/css");
      //- link.setAttribute("href", "/css/main.css");
      //- otherhead.appendChild(link);
    script.
      Hyphenator.run();
      $(".catalog-grid").mixItUp({
      });
      function addLoadEvent(func) {
        var oldonload = window.onload;
        if (typeof window.onload != 'function') {
          window.onload = func;
        } else {
          window.onload = function() {
            if (oldonload) {
              oldonload();
            }
          func();
          }
        }
      }
      //call plugin function after DOM ready
      addLoadEvent(function(){
        outdatedBrowser({
          bgColor: '#f25648',
          color: '#ffffff',
          lowerThan: 'transform',
          languagePath: 'js/lang/ru.html'
        })
      });
    include _components/_metric.jade