// ☢ Подключаем скрипты ☢
// Скрипты для корректной обработки тегов IE
// Обеспечиваем базовые стили HTML5 для браузеров IE ниже 10 версии с помощью html5 shiv
<!--[if lte IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/r29/html5.min.js"></script><![endif]-->
// Обеспечиваем поддержку медиазапросов min-width и max-width в Internet Explorer ниже 10 версии
<!--[if lte IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"></script><![endif]-->