.top-nav.top-nav__grid
  span.top-nav__logo
  nav.top-nav__list#navigation
    h2.sr-only Навигация по сайту
    a.top-nav__item.-link(href="/html/") Главная
    a.top-nav__item.-link(href="/html/catalog/") Каталог
    a.top-nav__item.-link(href="/html/about/") О компании
    a.top-nav__item.-link(href="/html/tekhnologiya/") Технология
    button.top-nav__item.top-nav__item_btn(type="button" onclick="jivo_api.open();") Купить пенополистирол
  button.toggle(data-collapse data-target="#navigation")
    span.icon