doctype
html(lang="ru")
  head
    include ../_components/_service.jade
    // ⚠️ SEO ⚠️
    title Купить армирующий клей для пенополистирола в Калининграде
    meta(name="description" content="Армирующий клей для пенополистирола в виде сухой (полуготовой) смеси в Калининграде. Производства KLESTER System (Клестер Систем).")
    meta(name="keywords" content="Армирующий клей для пенополистирола, Армирующий клей для пенопласта, цена, стоимость, калининград, производитель, klester, ")
    meta(name="robots" content="all")
    link(rel="canonical" href="http://klester39.ru/armiruyushhiy-kley-dlya-penopolistirola/")
    include ../_path/_css.jade
    include ../_components/_web-master.jade
    include ../_path/_favicon.jade
    // ⚠️ OPEN GRAPH ⚠️
    meta(property="og:title" content="Купить сухие смеси KLESTER System")
    meta(property="og:description" content="Купить сухую смесь (полуготовую), клей для пенополистирола, клей для каменной ваты, клей для керамической плитки, кладочную смесь, цемент в Калининграде.")
    meta(property="og:image" content="../img/logo.svg")
    meta(property="og:type" content="website")
    meta(property="og:url" content="http://klester39.ru/")
    include ../_components/_author.jade

  body.hyphenate#body
    .outdated
    .container-fluid.header
      header.container#top
        .row
          .col-xs-12
            h1.sr-only Купить армирующий клей для пенополистирола в Калининграде
            include ../_path/_top-flex-menu.jade
            include ../_components/_address.jade
    section.container
      .row
        .col-xs-12
          h2 Армирующий клей для пенополистирола ZM-02
        .col-xs-12.col-sm-8 
          .tab
            nav
              h3.sr-only Навигация по содержимому
              ul.tab__list
                li.tab__list-item Назначение
                li.tab__list-item Технические характеристики

            .tab__container
              .tab__item-block
                p.tab__item-description Сухой полуготовый клей предназначен для выполнения армированного стеклосеткой слоя, а также для приклеивания плит из пенополистирола.
                p.tab__item-description Теплоизоляционные плиты могут приклеиваться к следующим основаниям: обычные бетоны, стены из керамических, силикатных, бетонных элементов, бетонов на лёгких заполнителях и ячеистых бетонов.
                p.tab__item-description Основание должно быть стабильным, устойчивым к скалыванию с хорошей агдезией, допускается необработанное, отштукатуренное или покрытой малярными покрытиями или фактурной поверхностью.
                p.tab__item-description Сухую смесь постепенно всыпают в ёмкость, содержащую соответствующее количество чистой, холодной воды. Содержимое перемешивают вручную или механически при помощи мешалки, до получения однородной массы без комков. Раствор оставляют на 5 минут для дозревания, и снова тщательно перемешивают.
              .tab__item-block
                table.material-table
                  tr.material-table__row
                    td.material-table__cell Состав:
                    td.material-table__cell портландцемент, минеральные наполнители, модифицирующие добавки
                  tr.material-table__row
                    td.material-table__cell Объёмная плотность:
                    td.material-table__cell &asymp;1,45 г/см
                      sup 3
                  tr.material-table__row
                    td.material-table__cell Адгезия к бетонному основанию в сухом состоянии:
                    td.material-table__cell &ges;0,3 МПа
                      sup 3
                  tr.material-table__row
                    td.material-table__cell Адгезия к пенополистиролу:
                    td.material-table__cell &ges;0,1 МПа
                  tr.material-table__row
                    td.material-table__cell Содержание растворимого хрома VI:
                    td.material-table__cell &les;0,0002%
                  tr.material-table__row
                    td.material-table__cell Упаковка:
                    td.material-table__cell 25 кг
                  tr.material-table__row
                    td.material-table__cell Хранение:
                    td.material-table__cell 12 месяцев
              
        .col-xs-12.col-sm-4
          img.img-responsive(src="../img/catalog/zm-02.jpg" alt="Армирующий клей для пенополистирола ZM-02 «KLESTER System»")
          p.catalog__price 255 руб.
        .col-xs-12.item-properties__grid
          .item-properties__item.-temperature
            p.item-properties__title Применять:
            p.item-properties__description от +5&deg;C до +25&deg;C
          .item-properties__item.-time-expluatation
            p.item-properties__title Время пригодности:
            p.item-properties__description 2 часа
          .item-properties__item.-metter
            p.item-properties__title Расход:
            p.item-properties__description 4&ndash;5 кг/м&sup2;
          .item-properties__item.-proportion
            p.item-properties__title Пропорции смешивания:
            p.item-properties__description 6,3 л на 25 кг сухой смеси
    
    include ../_path/_footer.jade
    
    include ../_path/_script.jade
    script(src="../js/jquery-3.2.1.min.js")
    script(src="../js/Hyphenator.js")
    script(src="../js/outdatedbrowser.min.js")
    script(src="../js/custom.js")
    script.
      var frm = frames['frame'].window;
      var otherhead = frm.getElementsByTagName("head")[0];
      var link = frm.createElement("link");
      link.setAttribute("rel", "stylesheet");
      link.setAttribute("type", "text/css");
      link.setAttribute("href", "/css/main.css");
      otherhead.appendChild(link);
    script.
      Hyphenator.run();
      //call plugin function after DOM ready
      addLoadEvent(function(){
        outdatedBrowser({
          bgColor: '#f25648',
          color: '#ffffff',
          lowerThan: 'transform',
          languagePath: '../js/lang/ru.html'
        })
      });
    include ../_components/_metric.jade