doctype
html(lang="ru")
  head
    include ../_components/_service.jade
    // ⚠️ SEO ⚠️
    title Купить кладочную смесь в Калининграде
    meta(name="description" content="Кладочная универсальная смесь в виде сухой (полуготовой) смеси в Калининграде. Производства KLESTER System (Клестер Систем).")
    meta(name="keywords" content="кладочная смесь, клей для газосиликата, цена, стоимость, калининград, производитель, klester, ")
    meta(name="robots" content="all")
    link(rel="canonical" href="http://klester39.ru/zm-21/")
    include ../_path/_css.jade
    include ../_components/_web-master.jade
    include ../_path/_favicon.jade
    // ⚠️ OPEN GRAPH ⚠️
    meta(property="og:title" content="Купить сухие смеси KLESTER System")
    meta(property="og:description" content="Купить сухую смесь (полуготовую), клей для пенополистирола, клей для каменной ваты, клей для керамической плитки, кладочную смесь, цемент в Калининграде.")
    meta(property="og:image" content="../img/logo.svg")
    meta(property="og:type" content="website")
    meta(property="og:url" content="http://klester39.ru/")
    include ../_components/_author.jade

  body.hyphenate#body
    .outdated
    .container-fluid.header
      header.container#top
        .row
          .col-xs-12
            h1.sr-only Купить кладочную смесь в Калининграде
            include ../_path/_top-flex-menu.jade
            include ../_components/_address.jade
    section.container
      .row
        .col-xs-12
          h2 Кладочная смесь ZM-21
        .col-xs-12.col-sm-8
          .tab
            nav
              h3.sr-only Навигация по содержимому
              ul.tab__list
                li.tab__list-item Назначение
                li.tab__list-item Технические характеристики
                li.tab__list-item Расход
                li.tab__list-item Видео

            .tab__container
              .tab__item-block
                p.tab__item-description Сухая полуготовая кладочная смесь предназначена для внутренних и наружных работ.
                p.tab__item-description Подходит для возведения стен и колонн из керамических, известково-песчаных и бетонных элементов, в том числе из ячеистых бетонов и бетонов на легких заполнителях.
                p.tab__item-description Основание должно быть стабильным, чистым от пыли, грязи, старой рыхлой штукатурки, масел, жиров, краски, известковой побелки, устойчивым к скалыванию с хорошей агдезией.
                p.tab__item-description Сухую смесь постепенно всыпают в ёмкость, содержащую соответствующее количество чистой, холодной воды. Содержимое перемешивают вручную или механически при помощи мешалки, до получения однородной массы без комков. Раствор оставляют на 5 минут для дозревания, и снова тщательно перемешивают.
                h4.tab__item-description Вопросы и ответы
                p.tab__item-description
                  strong Почему клей ZM-21 нельзя использовать для укладки газосиликатных блоков? В чем принципиальное различие смесей ZM-21 и ZM-22?
                p.tab__item-description Кладочную смесь ZM-21 можно использовать для кладки газосиликатных блоков, но кладочная смесь ZM-22 больше подходит для этого. Она позволяет экономить количество раствора за счет тонкошовной кладки газосиликатных блоков, а это в свою очередь предотвращает появление «мостиков холода».
                p.tab__item-description Принципиальное различие ZM-21 и ZM-22 в толщине шва кладки. У ZM-21 толщина шва 8-12 мм, а у ZM-22 толщина шва 1-3 мм. Технология кладки кирпича предполагает шов 8-12 мм, поэтому использовать ZM-22 для кладки кирпичных стен не рекомендуется.
              .tab__item-block
                table.material-table
                  tr.material-table__row
                    td.material-table__cell Состав:
                    td.material-table__cell портландцемент, сухогашеная известь, минеральные наполнители, добавки
                  tr.material-table__row
                    td.material-table__cell Объёмная плотность свежего раствора:
                    td.material-table__cell &asymp;1,45 г/см
                      sup 3
                  tr.material-table__row
                    td.material-table__cell Объёмная плотность затвердевшего раствора:
                    td.material-table__cell &asymp;1,80 г/см
                      sup 3
                  tr.material-table__row
                    td.material-table__cell Прочность шва:
                    td.material-table__cell &gt;0,15 МПа
                  tr.material-table__row
                    td.material-table__cell Коэффициент теплопроводимости λ:
                    td.material-table__cell &lt;1,17 Вт/м&times;K
                  tr.material-table__row
                    td.material-table__cell Крупность заполнителя:
                    td.material-table__cell 0&ndash;2 мм
                  tr.material-table__row
                    td.material-table__cell Содержание растворимого хрома VI:
                    td.material-table__cell &les;0,0002%
                  tr.material-table__row
                    td.material-table__cell Упаковка:
                    td.material-table__cell 25 кг
                  tr.material-table__row
                    td.material-table__cell Хранение:
                    td.material-table__cell 12 месяцев
                p.tab__item-description 
                  strong Минерально связующие наполнители и добавки. Для чего они предназначены? Какую функцию выполняют? На что влияют?
                p.tab__item-description Модифицирующие добавки подразделяют на 4 класса.
                p.tab__item-description К добавкам 1 класса относят регуляторы реологических свойств, позволяющие снизить водоотделение, повысить прочность, непроницаемость, морозостойкость, повысить водоудерживающую способность.
                p.tab__item-description Добавки 2 класса — регуляторы сроков схватывания и твердения. Они делятся на: ускорители схватывания-твердения (алюминат натрия, фторид натрия, карбонат калия, хлорид кальция и другие) и замедлители схватывания (фосфаты, сахара, декстрин, соли лимонной и винной кислот, дигидросульфат калия).
                p.tab__item-description Добавки 3 класса — регуляторы структуры, которые позволяют повысить стойкость в агрессивных средах и снизить среднюю плотность. Примерами таких добавок могут служить ионогенные и неионогенные поверхностно-активные вещества, лаурилсульфат натрия, алкенсульфаты натрия и др.
                p.tab__item-description Добавки 4 класса используются для тех смесей, к которым предъявляются особые, функциональные требования по условиям применения или эксплуатации.
              .tab__item-block
                table.material-table
                  tr.material-table__row
                    th.material-table__cell
                    th.material-table__cell(colspan="4") Расход сухой смеси на 1м&sup2; стены из:
                  tr.material-table__row
                    th.material-table__cell Толщина стены:
                    th.material-table__cell полнотелого и дырчатого кирпича:
                    th.material-table__cell насадочного кирпича:
                    th.material-table__cell пустотелых U-образных блоков:
                    th.material-table__cell пустотелых стеклянных блоков:
                  tr.material-table__row
                    td.material-table__cell 6,5 см
                    td.material-table__cell 14 кг
                    td.material-table__cell —
                    td.material-table__cell —
                    td.material-table__cell —
                  tr.material-table__row
                    td.material-table__cell 12,0 см
                    td.material-table__cell 37 кг
                    td.material-table__cell 28 кг
                    td.material-table__cell —
                    td.material-table__cell —
                  tr.material-table__row
                    td.material-table__cell 18,5 см
                    td.material-table__cell —
                    td.material-table__cell —
                    td.material-table__cell 33 кг
                    td.material-table__cell —
                  tr.material-table__row
                    td.material-table__cell 18,8 см
                    td.material-table__cell —
                    td.material-table__cell —
                    td.material-table__cell —
                    td.material-table__cell 41 кг
                  tr.material-table__row
                    td.material-table__cell 25,0 см
                    td.material-table__cell 94 кг
                    td.material-table__cell 70 кг
                    td.material-table__cell 52 кг
                    td.material-table__cell —
                  tr.material-table__row
                    td.material-table__cell 28,8 см
                    td.material-table__cell —
                    td.material-table__cell —
                    td.material-table__cell —
                    td.material-table__cell 71 кг
                  tr.material-table__row
                    td.material-table__cell 38,0 см
                    td.material-table__cell 186 кг
                    td.material-table__cell 116 кг
                    td.material-table__cell —
                    td.material-table__cell —
                  tr.material-table__row
                    td.material-table__cell 44,5 см
                    td.material-table__cell —
                    td.material-table__cell —
                    td.material-table__cell 107 кг
                    td.material-table__cell —
                  tr.material-table__row
                    td.material-table__cell 48,8 см
                    td.material-table__cell —
                    td.material-table__cell —
                    td.material-table__cell —
                    td.material-table__cell 135 кг
              .tab__item-block
                .embed-responsive.embed-responsive-16by9
                  iframe.embed-responsive-item(width="560" height="315" src="https://www.youtube.com/embed/vg_84634BGY?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen)

        .col-xs-12.col-sm-4
          img.img-responsive(src="../img/catalog/zm-21.jpg" alt="Универсальная кладочная смесь ZM-21 «KLESTER System»")
          p.catalog__price 109 руб.
        .col-xs-12.item-properties__grid
          .item-properties__item.-temperature
            p.item-properties__title Температура применения:
            p.item-properties__description от +5&deg;C до +25&deg;C
          .item-properties__item.-time-expluatation
            p.item-properties__title Время пригодности:
            p.item-properties__description 1 час
          .item-properties__item.-metter
            p.item-properties__title Производительность:
            p.item-properties__description около 1.88 кг/дм&sup3;
          .item-properties__item.-proportion
            p.item-properties__title Пропорции смешивания:
            p.item-properties__description 4,0&ndash;4,5 л на 25 кг сухой смеси

    include ../_path/_footer.jade

    include ../_path/_script.jade
    script(src="../js/jquery-3.2.1.min.js")
    script(src="../js/Hyphenator.js")
    script(src="../js/outdatedbrowser.min.js")
    script(src="../js/custom.js")
    //- script.
    //-   var frm = frames['frame'].window;
    //-   var otherhead = frm.getElementsByTagName("head")[0];
    //-   var link = frm.createElement("link");
    //-   link.setAttribute("rel", "stylesheet");
    //-   link.setAttribute("type", "text/css");
    //-   link.setAttribute("href", "/css/main.css");
    //-   otherhead.appendChild(link);
    script.
      Hyphenator.run();
      //call plugin function after DOM ready
      //- addLoadEvent(function(){
      //-   outdatedBrowser({
      //-     bgColor: '#f25648',
      //-     color: '#ffffff',
      //-     lowerThan: 'transform',
      //-     languagePath: '../js/lang/ru.html'
      //-   })
      //- });
    include ../_components/_metric.jade