doctype
html(lang="ru")
  head
    include ../_components/_service.jade
    // ⚠️ SEO ⚠️
    title Купить штукатурку ZM-42
    meta(name="description" content="Цементная штукатурка ZM-42 в Калиниграде по низкой цене от производителя сухих смесей KLESTER System. Подходит для внутренней и внешней отделки.")
    meta(name="keywords" content="штукатурка, калининград, цена, стоимость, купить, производитель, klester, ")
    meta(name="robots" content="all")
    link(rel="canonical" href="http://klester39.ru/zm-42/")
    include ../_path/_css.jade
    include ../_components/_web-master.jade
    include ../_path/_favicon.jade
    // ⚠️ OPEN GRAPH ⚠️
    meta(property="og:title" content="Купить сухие смеси KLESTER System")
    meta(property="og:description" content="Купить сухую смесь (полуготовую), клей для пенополистирола, клей для каменной ваты, клей для керамической плитки, кладочную смесь, цемент в Калининграде.")
    meta(property="og:image" content="../img/logo.svg")
    meta(property="og:type" content="website")
    meta(property="og:url" content="http://klester39.ru/")
    include ../_components/_author.jade

  body.hyphenate#body
    .outdated
    .container-fluid.header
      header.container#top
        .row
          .col-xs-12
            h1.sr-only Купить цементную штукатурку в Калининграде
            include ../_path/_top-flex-menu.jade
            include ../_components/_address.jade
    section.container
      .row
        .col-xs-12
          h2 Цементная штукатурка ZM-42
        .col-xs-12.col-sm-8
          .tab
            nav
              h3.sr-only Навигация по содержимому
              ul.tab__list
                li.tab__list-item Назначение
                li.tab__list-item Технические характеристики

            .tab__container
              .tab__item-block
                p.tab__item-description Мокрая цементная штукатурка ZM-42 KLESTER System 25 кг применяется для внутренних, например штукатурки квартиры и других помещений или наружных работ, например для штукатурки фасада дома, а так же для выравнивания и армирования стен.
                p.tab__item-description Толщина фракции заполнителя сухой смеси — до 1 мм. Максимальная толщина слоя штукатруки — 15 мм. Расход штукатурки 1,6 кг/м² при толщине слоя раствора 1 мм. В состав штукатурки входит: сухогашеная известь, портландцемент, минеральные наполнители, модифицирующие добавки.
                p.tab__item-description Цементно песчаная штукатурка ZM-42 применяется для оштукатуривания стен с керамическими элементами, на известково-песчаных и бетонных основаниях, штукатурки под кирпич. Допускается применение в качестве грунтованного покрытия под декоративные штукатурки или под покраску.
                p.tab__item-description Компания KLESTER System производит два вида штукатурок разной стоимости: ZM-41 и ZM-42.
                p.tab__item-description На сайте компании вы можете купить оптом и в розницу лучшую штукатурку в Калининграде от производителя без посредников, и по самой низкой цене. Мы ручаемся за качество! Смотрите на видео
                  a(href="https://youtu.be/vg_84634BGY" target="_blank")  процесс производства
                  |  сухих строительных смесей KLESTER System, Калининград.
                p.tab__item-description Стоимость указана за мешок 25 кг.
              .tab__item-block
                table.material-table
                  tr.material-table__row
                    td.material-table__cell Состав:
                    td.material-table__cell сухогашеная известь, портландцемент, минеральные наполнители, модифицирующие добавки
                  tr.material-table__row
                    td.material-table__cell Максимальная толщина штукатурного слоя:
                    td.material-table__cell 15 мм
                  tr.material-table__row
                    td.material-table__cell Крупность заполнителя:
                    td.material-table__cell &le;1 мм
                  tr.material-table__row
                    td.material-table__cell Упаковка:
                    td.material-table__cell 25 кг
                  tr.material-table__row
                    td.material-table__cell Хранение:
                    td.material-table__cell 9 месяцев
        .col-xs-12.col-sm-4
          img.img-responsive(src="../img/catalog/zm-41.jpg" alt="Штукатурка машинная ZM-41")
          p.catalog__price 129 руб.
        .col-xs-12.item-properties__grid
          .item-properties__item.-temperature
            p.item-properties__title Температура применения:
            p.item-properties__description от +5&deg;C до +25&deg;C
          .item-properties__item.-time-expluatation
            p.item-properties__title Время пригодности:
            p.item-properties__description 1 час
          .item-properties__item.-metter
            p.item-properties__title Расход:
            p.item-properties__description около 1.6 кг/м²
          .item-properties__item.-proportion
            p.item-properties__title Пропорции смешивания:
            p.item-properties__description 4,5&ndash;5,0 л на 25 кг сухой смеси

    include ../_path/_footer.jade

    include ../_path/_script.jade
    script(src="../js/jquery-3.2.1.min.js")
    script(src="../js/Hyphenator.js")
    script(src="../js/outdatedbrowser.min.js")
    script(src="../js/custom.js")
    //- script.
    //-   var frm = frames['frame'].window;
    //-   var otherhead = frm.getElementsByTagName("head")[0];
    //-   var link = frm.createElement("link");
    //-   link.setAttribute("rel", "stylesheet");
    //-   link.setAttribute("type", "text/css");
    //-   link.setAttribute("href", "/css/main.css");
    //-   otherhead.appendChild(link);
    script.
      Hyphenator.run();
      //call plugin function after DOM ready
      //- addLoadEvent(function(){
      //-   outdatedBrowser({
      //-     bgColor: '#f25648',
      //-     color: '#ffffff',
      //-     lowerThan: 'transform',
      //-     languagePath: '../js/lang/ru.html'
      //-   })
      //- });
    include ../_components/_metric.jade