nav.col-xs-12
  h2.sr-only Навигация по каталогу
  ul.catalog-list.controls
    li.filter.top-nav__item(data-filter=".all") Всё
    li.filter.top-nav__item(data-filter=".insulation") Клей для утеплителей
    li.filter.top-nav__item(data-filter=".tiles") Клей для плитки
    li.filter.top-nav__item(data-filter=".masonry") Кладочные смеси

.col-xs-12.catalog-grid.donthyphenate

  .mix.catalog-item.masonry.all
    figure.catalog-item__figure
      img.img-responsive.img-rounded(src="/html/img/catalog/cement.jpg" alt="Цемент KLESTER System")
      figcaption.catalog-item__caption Портландцемент <br> М500 Д0
    span.catalog-item__price 146 руб.
    a.btn-flat.orange.btn-responsive-center(href="/html/cement/" title="Портландцемент М500 Д0") Подробнее

  .mix.catalog-item.insulation.all
    figure.catalog-item__figure
      img.img-responsive.img-rounded(src="/html/img/catalog/zm-01.jpg" alt="Клей для пенополистирола")
      figcaption.catalog-item__caption Клей для пенополистирола
    span.catalog-item__price 189 руб.
    a.btn-flat.orange.btn-responsive-center(href="/html/kley-dlya-penopolistirola/" title="Клей для пенополистирола") Подробнее

  .mix.catalog-item.insulation.all
    figure.catalog-item__figure
      img.img-responsive.img-rounded(src="/html/img/catalog/zm-02.jpg" alt="Армирующий клей для пенополистирола")
      figcaption.catalog-item__caption Армирующий клей для пенополистирола
    span.catalog-item__price 255 руб.
    a.btn-flat.orange.btn-responsive-center(href="/html/armiruyushhiy-kley-dlya-penopolistirola/" title="Армирующий клей для пенополистирола") Подробнее

  .mix.catalog-item.insulation.all
    figure.catalog-item__figure
      img.img-responsive.img-rounded(src="/html/img/catalog/zm-03.jpg" alt="Клей для каменной ваты")
      figcaption.catalog-item__caption Клей для минеральной ваты
    span.catalog-item__price 199 руб.
    a.btn-flat.orange.btn-responsive-center(href="/html/kley-dlya-kamennoy-vaty/" title="Клей для каменной ваты") Подробнее

  .mix.catalog-item.insulation.all
    figure.catalog-item__figure
      img.img-responsive.img-rounded(src="/html/img/catalog/zm-04.jpg" alt="Армирующий клей для каменной ваты")
      figcaption.catalog-item__caption Армирующий клей для минеральной ваты
    span.catalog-item__price 279 руб.
    a.btn-flat.orange.btn-responsive-center(href="/html/armiruyushhiy-kley-dlya-kamennoy-vaty/" title="Армирующий клей для каменной ваты") Подробнее

  .mix.catalog-item.masonry.all
    figure.catalog-item__figure
      img.img-responsive.img-rounded(src="/html/img/catalog/zm-21.jpg" alt="Универсальная кладочная смесь")
      figcaption.catalog-item__caption Универсальная кладочная смесь
    span.catalog-item__price 109 руб.
    a.btn-flat.orange.btn-responsive-center(href="/html/kladochnaya-smes/" title="Универсальная кладочная смесь") Подробнее

  .mix.catalog-item.tiles.all
    figure.catalog-item__figure
      img.img-responsive.img-rounded(src="/html/img/catalog/zm-51.jpg" alt="Плиточный клей для внутренних работ")
      figcaption.catalog-item__caption Плиточный клей для внутренних работ
    span.catalog-item__price 139 руб.
    a.btn-flat.orange.btn-responsive-center(href="/html/plitochnyy-kley-dlya-vnutrennih-rabot/" title="Плиточный клей для внутренних работ") Подробнее

  .mix.catalog-item.tiles.all
    figure.catalog-item__figure
      img.img-responsive.img-rounded(src="/html/img/catalog/zm-52.jpg" alt="Плиточный клей для наружных работ")
      figcaption.catalog-item__caption Плиточный клей для наружных работ
    span.catalog-item__price 149 руб.
    a.btn-flat.orange.btn-responsive-center(href="/html/plitochnyy-kley-dlya-naruzhnih-rabot/" title="Плиточный клей для наружных работ") Подробнее