nav.col-xs-12
  h2.sr-only Навигация по каталогу
  ul.catalog-list.controls
    li.filter.top-nav__item(data-filter=".all") Всё
    li.filter.top-nav__item(data-filter=".insulation") Фасадный клей
    li.filter.top-nav__item(data-filter=".tiles") Клей для плитки
    li.filter.top-nav__item(data-filter=".masonry") Кладочные смеси

.col-xs-12.catalog-grid.donthyphenate

  //- .mix.catalog-item.masonry.all
    figure.catalog-item__figure
      img.img-responsive.img-rounded(src="/img/catalog/cement.jpg" alt="Цемент KLESTER System")
      figcaption.catalog-item__caption Портландцемент <br> М500 Д0
    span.catalog-item__price 146 руб.
    a.btn-flat.orange.btn-responsive-center(href="/cement/" title="Портландцемент М500 Д0") Подробнее

  .mix.catalog-item.insulation.all
    figure.catalog-item__figure
      img.img-responsive.img-rounded(src="/img/catalog/zm-01.jpg" alt="ZM-01")
      figcaption.catalog-item__caption Клей для пенополистирола
    span.catalog-item__price 215 руб.
    a.btn-flat.orange.btn-responsive-center(href="/kley-dlya-penopolistirola/" title="Клей для пенополистирола") Подробнее

  .mix.catalog-item.insulation.all
    figure.catalog-item__figure
      img.img-responsive.img-rounded(src="/img/catalog/zm-02.jpg" alt="ZM-02")
      figcaption.catalog-item__caption Армирующий клей для пенополистирола
    span.catalog-item__price 269 руб.
    a.btn-flat.orange.btn-responsive-center(href="/armiruyushhiy-kley-dlya-penopolistirola/" title="Армирующий клей для пенополистирола") Подробнее

  .mix.catalog-item.insulation.all
    figure.catalog-item__figure
      img.img-responsive.img-rounded(src="/img/catalog/zm-03.jpg" alt="ZM-03")
      figcaption.catalog-item__caption Клей для минеральной ваты
    span.catalog-item__price 225 руб.
    a.btn-flat.orange.btn-responsive-center(href="/kley-dlya-kamennoy-vaty/" title="Клей для каменной ваты") Подробнее

  .mix.catalog-item.insulation.all
    figure.catalog-item__figure
      img.img-responsive.img-rounded(src="/img/catalog/zm-04.jpg" alt="ZM-04")
      figcaption.catalog-item__caption Армирующий клей для минеральной ваты
    span.catalog-item__price 295 руб.
    a.btn-flat.orange.btn-responsive-center(href="/armiruyushhiy-kley-dlya-kamennoy-vaty/" title="Армирующий клей для каменной ваты") Подробнее

  .mix.catalog-item.masonry.all
    figure.catalog-item__figure
      img.img-responsive.img-rounded(src="/img/catalog/zm-21.jpg" alt="ZM-21")
      figcaption.catalog-item__caption Универсальная кладочная смесь
    span.catalog-item__price 109 руб.
    a.btn-flat.orange.btn-responsive-center(href="/kladochnaya-smes/" title="Универсальная кладочная смесь") Подробнее

  .mix.catalog-item.tiles.all
    figure.catalog-item__figure
      img.img-responsive.img-rounded(src="/img/catalog/zm-51.jpg" alt="ZM-51")
      figcaption.catalog-item__caption Плиточный клей для внутренних работ
    span.catalog-item__price 189 руб.
    a.btn-flat.orange.btn-responsive-center(href="/plitochnyy-kley-dlya-vnutrennih-rabot/" title="Плиточный клей для внутренних работ") Подробнее

  .mix.catalog-item.tiles.all
    figure.catalog-item__figure
      img.img-responsive.img-rounded(src="/img/catalog/zm-52.jpg" alt="ZM-52")
      figcaption.catalog-item__caption Плиточный клей для наружных работ
    span.catalog-item__price 207 руб.
    a.btn-flat.orange.btn-responsive-center(href="/plitochnyy-kley-dlya-naruzhnih-rabot/" title="Плиточный клей для наружных работ") Подробнее

  .mix.catalog-item.tiles.all
    figure.catalog-item__figure
      img.img-responsive.img-rounded(src="/img/catalog/zm-53.jpg" alt="ZM-53")
      figcaption.catalog-item__caption Плиточный клей морозостойкий, усиленный
    span.catalog-item__price 392 руб.
    a.btn-flat.orange.btn-responsive-center(href="/zm-53/" title="Плиточный клей морозостойкий, усиленный") Подробнее

  .mix.catalog-item.tiles.all
    figure.catalog-item__figure
      img.img-responsive.img-rounded(src="/img/catalog/zm-54.jpg" alt="ZM-54")
      figcaption.catalog-item__caption Плиточный клей структурно-армированный
    span.catalog-item__price 639 руб.
    a.btn-flat.orange.btn-responsive-center(href="/zm-54/" title="Плиточный клей структурно-армированный") Подробнее