.col-xs-12
  h2 Системный подход к строительству

.col-xs-12
  .features.-fl.-technology
    p.title
      b Современная технология.
    p Все компоненты фасуются с помощью высокоточного итальянского оборудования по немецкой технологии.
  .features.-fr.-prof
    p.title
      b Профессиональный подход.
    p Высококлассные профессионалы, собственная лаборатория, регулярный контроль качества.
  .-mt.features.-fl.-proportion
    p.title
      b Оптимальные пропорции.
    p Каждый мешок содержит точно дозированный состав сухой смеси. В составе присутствуют специальные добавки, пластификаторы, полимерные волокна, благодаря чему, смесь прочная, а покрытие ровное.
  .-mt.features.-fr.-usage
    p.title
      b Простота применения.
    p Для приготовления раствора не нужны специальные инструменты, такие, как бетономешалка. Достаточно просто замешать смесь в воде дрелью с насадкой.
  .features.-fl.-stock
    p.title
      b Широкий ассортимент.
    p Для каждого вида работ в ассортименте есть подходящий материал.
  .features.-fr.-price
    p.title
      b Выгодная цена.
    p Мы производитель сухих смесей в Калиниграде.