.col-xs-12
  h2.donthyphenate.text-center Как купить?
.col-xs-12
  .step-to-order
    .step.text-right.-icon.-call
      p.title Позвоните в магазин
      p Позвоните по номеру телефона:
        b
          a(href="tel:+74012999119" title="Позвонить")
            span.nowrap +7 (4012) 999‒119
      p или узнайте в чате у оператора об интересующей позиции.
    .step.text-left.-icon.-shoproom
      p.title Оформите доставку
      p Оплатите онлайн или приезжайте в торговый зал по адресу: &#8195;
        a(href="https://2gis.ru/kaliningrad/geo/5630135189394504%2C20.454708%2C54.761507?queryState=center%2F20.454386%2C54.761083%2Fzoom%2F17" target="_blank" title="Перейти в 2ГИС")
          span.nowrap Деловая Русь, ул. Большая окружная д. 20.
      p Здесь можно оформить доставку до объекта или самостоятельно забрать товар.
    .step.text-right.-icon.-card
      p.title Оплатите заказ
      p Оплатить заказ можно любым удобным для себя способом:
      ul
        li Наличный расчёт.
        li Безналичный расчёт.
        li Кредит.
    .step.text-left.-icon.-handshake
      p.title Примите заказ
      p Заказ будет отгружен по адресу доставки в течении 24 часов.
      p Мы надеемся на дальнейшее сотрудничество с вами.
      p Спасибо, что выбрали нас!
